body {
  margin: 0;
  font-family: 'Helvetica Neue Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: none;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url('../helvetic-neue/HelveticaNeueLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ikcalasss input{
  border: 1px solid rgb(80, 80, 80);
}
.ikcalasss select{
  border: 1px solid rgb(80, 80, 80);
}
.ikcalasss :checked {
  border: 1px solid rgb(80, 80, 80);
}
.heighlight1{
  color: #4fa0ce;
  font-weight: bold;
}
.cursor-pointer{
  cursor: pointer;
}